<a href="https://colab.research.google.com/github/ThanhTung53/Tuhu/blob/main/BT_Phi%C3%AAn_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )
print("tup1[0]: ", tup1[0])
print("tup2[1:5]: ", tup2[1:5])

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

In [ ]:
tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')
tup3 = tup1 + tup2
print(tup3)

(12, 34.56, 'abc', 'xyz')

In [ ]:
tup4 = ('physics', 'chemistry', 1997, 2000)
print(tup4)
del tup4
print("After deleting tup : ")
print(tup4)

('physics', 'chemistry', 1997, 2000)
After deleting tup :

NameError: ignored

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
print(len(tuple1))
tuple3 = tuple1 + tuple2
print(tuple3)

("Hi!")*3

if 3 in tuple1:
 print(True)

3
(1, 2, 3, 4, 5, 6)
True

In [ ]:
T = ("Red", "Yellow", "Green")
print(T[2])
print(T[-2])
print(T[1:])

Green
Yellow
('Yellow', 'Green')

In [ ]:
t1 = (11, 22, 10, 4)
t2 = (20, 33, 65, 11, 7)
print(len(t1))
print(max(t1))
print(min(t1))

4
22
4

In [ ]:
dict1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print("dict['Name']: ", dict1['Name'])
print("dict['Age']: ", dict1['Age'])

dict['Name']:  Zara
dict['Age']:  7

In [ ]:
dict2 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dict2['Age'] = 8
dict2['School'] = "DPS School"
print("dict['Age']: ", dict2['Age'])
print("dict['School']: ", dict2['School'])

dict['Age']:  8
dict['School']:  DPS School

In [ ]:
dict3 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
del dict3['Name'] 
dict3.clear()
del dict3

In [ ]:
#Clear
d = {1: "one", 2: "two"}
d.clear()
print('d =', d)

#Copy
a = {"Name" : "Tung", "Age" : 18, "Year" : 2021}
b = a.copy()
print(b)

#Get
c = {'name': 'Tung', 'age': 18}
print('Name: ', c.get('name'))
print('Age: ', c.get('age'))

#Items
e = {'Physics':60, 'Maths':80}
print(e.items())

#Keys
f = {'name': 'Tung', 'age': 18,}
print(f.keys())

#Update
a = {"Name" : "Tung", "Age" : 18, "Year" : 2021}
a.update({"citizen": "Vietnam"})
print(a)

#Values
a = {"Name" : "Tung", "Age" : 18, "Year" : 2021}
x = a.values()
print(x)

d = {}
{'Name': 'Tung', 'Age': 18, 'Year': 2021}
Name:  Tung
Age:  18
dict_items([('Physics', 60), ('Maths', 80)])
dict_keys(['name', 'age'])
{'Name': 'Tung', 'Age': 18, 'Year': 2021, 'citizen': 'Vietnam'}
dict_values(['Tung', 18, 2021])

In [ ]:
Set = set(["a", "b", "c"])
print("Set: ")
print(Set)

Set.add("d")
print("\nSet after adding: ")
print(Set)

Set:
{'c', 'a', 'b'}

Set after adding:
{'c', 'a', 'd', 'b'}

In [55]:
people = {"Jay", "Idrish", "Archi"}
print("People: ")
print(people)
people.add("Daxit")
for i in range(1, 6):
people.add(i)
print("\nSet after adding element:", end = " ")
print(people)

IndentationError: ignored

In [ ]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat"])
Days.discard("Sun")
print(Days)

In [ ]:
set1 = {1,2,3,4,5,6}
print("Initial set")
print(set1)

set1.clear()
print("\nSet after using clear() function")
print(set1)

In [ ]:
people = {"Jay", "Idrish", "Archil"}
vampires = {"Karan", "Arjun"}
dracula = {"Deepanshu", "Raju"}

population = people.union(vampires)
print("Union using union() function")
print(population)

population = people|dracula
print("\nUnion using '|' operator")
print(population)

Union using union() function
{'Idrish', 'Archil', 'Karan', 'Arjun', 'Jay'}

Union using '|' operator
{'Idrish', 'Archil', 'Deepanshu', 'Jay', 'Raju'}

In [ ]:
set1 = set()
for i in range(5):
set1.add(i)
set2 = {3, 4, 5, 6, 7, 8}
set3 = set1.intersection(set2)
print("Intersection using intersection() function")
print(set3)
set3 = set1 & set2
print("\nIntersection using '&' operator")
print(set3)

IndentationError: ignored

In [ ]:
set1 = set()
for i in range(5):
set1.add(i)
set2 = {3, 4, 5, 6, 7, 8}
set3 = set1.difference(set2)
print(" Difference of two sets using difference() function")
print(set3)
set3 = set1 - set2
print("\nDifference of two sets using '-' operator")
print(set3)

In [51]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
SubsetRes = DaysA <= DaysB
SupersetRes = DaysB >= DaysA
print(SubsetRes)
print(SupersetRes)

True
True

In [52]:
import time; 
ticks = time.time()
print("Number of ticks since 12:00am, January 1, 1970:", ticks)
localtime = time.localtime(time.time())
print("Local current time :", localtime)

Number of ticks since 12:00am, January 1, 1970: 1636964695.9808307
Local current time : time.struct_time(tm_year=2021, tm_mon=11, tm_mday=15, tm_hour=8, tm_min=24, tm_sec=55, tm_wday=0, tm_yday=319, tm_isdst=0)

In [53]:
import time;
localtime = time.asctime( time.localtime(time.time()) )
print("Local current time :", localtime)

Local current time : Mon Nov 15 08:24:58 2021

In [54]:
import calendar
cal = calendar.month(2008, 1)
print("Here is the calendar:")
print(cal)

Here is the calendar:
    January 2008
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31