<a href="https://colab.research.google.com/github/ThanhTung53/Tuhu/blob/main/Cau_truc_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list1 = ['physics', 'chemistry', 1997, 2000]
list2 = [1, 2, 3, 4, 5 ]
list3 = ["a", "b", "c", "d"]
print(list1)
print(list2)
print(list3)

['physics', 'chemistry', 1997, 2000]
[1, 2, 3, 4, 5]
['a', 'b', 'c', 'd']

In [ ]:
list1 = ['physics', 'chemistry', 1997, 2000]
list2 = [1, 2, 3, 4, 5, 6, 7 ]
print("list1[0]: ", list1[0])
print("list2[1:5]: ", list2[1:5])

list1[0]:  physics
list2[1:5]:  [2, 3, 4, 5]

In [ ]:
list3= ['physics', 'chemistry', 1997, 2000]
print("Value available at index 2 : ")
print(list3[2])
list3[2] = 2001
print("New value available at index 2 : ")
print(list3[2])

Value available at index 2 :
1997
New value available at index 2 :
2001

In [ ]:
list1 = ['physics', 'chemistry', 1997, 2000]
print(list1)
del list1[2]
print("After deleting value at index 2 : ")
print(list1)

['physics', 'chemistry', 1997, 2000]
After deleting value at index 2 :
['physics', 'chemistry', 2000]

In [ ]:
a = [1, 2, 3]
print(len(a))

b1 = [1, 2, 3]
b2 = [4, 5, 6]
b3 = b1 + b2
print(b3)

d = [1, 2, 3]
if 3 in d:
  print(True)

for x in [1, 2, 3]: 
  print(x)

3
[1, 2, 3, 4, 5, 6]
True
1
2
3

In [ ]:
["Hi!"]*3

['Hi!', 'Hi!', 'Hi!']

In [ ]:
L = ["Red", "Yellow", "Green"]
print(L[2])
print(L[-2])
print(L[1:])

Green
Yellow
['Yellow', 'Green']

In [ ]:
list1 = [1998, 2000]
list2 = [1, 2, 3, 4, 5, 6, 7 ]

print(len(list1))
print(max(list1))
print(min(list1))

2
2000
1998

In [ ]:
list1 = [ 1, 2, 3, 4, 5, 6, 1998, 2000]

print("add 50")
list1.append(50) 
print(list1)

print("count50")
list1.count(50) 
print(list1)

print("position")
list1.index(1998) 
print(list1)

print("insert 2000")
list1.insert(1, 2000) 
print(list1)

print("del 5")
list1.remove(5) 
print(list1)

add 50
[1, 2, 3, 4, 5, 6, 1998, 2000, 50]
count50
[1, 2, 3, 4, 5, 6, 1998, 2000, 50]
position
[1, 2, 3, 4, 5, 6, 1998, 2000, 50]
insert 2000
[1, 2000, 2, 3, 4, 5, 6, 1998, 2000, 50]
del 5
[1, 2000, 2, 3, 4, 6, 1998, 2000, 50]