<a href="https://colab.research.google.com/github/ThanhTung53/Tuhu/blob/main/List_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list1 = ["physics", "chemistry", 1997, 2000]
list2 = [1, 2, 3, 4, 5]
list3 = ["a", "b", "c", "d"]
print(list1)
print(list2)
print(list3)

['physics', 'chemistry', 1997, 2000]
[1, 2, 3, 4, 5]
['a', 'b', 'c', 'd']

In [ ]:
list1 = ["physics", "chemistry", 1997, 2000]
list2 = [1, 2, 3, 4, 5]
print("list1[0] : ", list1[0])
print("list2[1:5] : ", list2[1:5])

list1[0] :  physics
list2[1:5] :  [2, 3, 4, 5]

In [ ]:
list = ['physics', 'chemistry', 1997, 2000]
print("Value available at index 2 : ")
print(list[2])
list[2] = 2001
print("New value available at index 2 : ")
print(list[2])

Value available at index 2 :
1997
New value available at index 2 :
2001

In [ ]:
list1 = ["physics", "chemistry", 1997, 2000]
print(list1)
del list1[2]
print("After deleting value at index 2 : ")
print(list1)

['physics', 'chemistry', 1997, 2000]
After deleting value at index 2 :
['physics', 'chemistry', 2000]

In [ ]:
tup1 = ("physics", "chemistry", 1997, 2000)
tup2 = (1, 2, 3, 4, 5)
tup3 = ("a", "b", "c", "d")
print(tup1)
print(tup2)
print(tup3)

('physics', 'chemistry', 1997, 2000)
(1, 2, 3, 4, 5)
('a', 'b', 'c', 'd')

In [ ]:
tup1 = ("physics", "chemistry", 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7)
print("tup1[0]: ", tup1[0])
print("tup2[1:5]: ", tup2[1:5] )

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

In [ ]:
tup1 = (12, 34.56)
tup2 = ("abc", "xyz")
tup3 = tup1 + tup2
print(tup3)

(12, 34.56, 'abc', 'xyz')

In [ ]:
tup = ('physics', 'chemistry', 1997, 2000)
print(tup)
del tup
print("After deleting tup : ")
print(tup)

('physics', 'chemistry', 1997, 2000)
After deleting tup :

NameError: ignored

In [ ]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print("dict['Name']: ", dict['Name'])
print("dict['Age']: ", dict['Age'])

dict['Name']:  Zara
dict['Age']:  7

In [ ]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dict['Age'] = 8; # update existing entry
dict['School'] = "DPS School"; # Add new entry
print("dict['Age']: ", dict['Age'])
print("dict['School']: ", dict['School'])

dict['Age']:  8
dict['School']:  DPS School

In [ ]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
del dict['Name']
dict.clear()
del dict

In [ ]:
Set = set(["a", "b", "c"])
print("Set: ")
print(Set)
Set.add("d")
print("\nSet after adding: ")
print(Set)

Set:
{'a', 'b', 'c'}

Set after adding:
{'a', 'b', 'c', 'd'}

In [ ]:
people = {"Jay", "Idrish", "Archi"}
print("People: ")
print(people)
people.add("Daxit")
for i in range(1, 6):
people.add(i)
print("\nSet after adding element:", end = " ")
print(people)

IndentationError: ignored

In [ ]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat"])
Days.discard("Sun")
print(Days)

{'Mon', 'Tue', 'Sat', 'Wed', 'Thu', 'Fri'}

In [ ]:
set1 = {1,2,3,4,5,6}
print("Initial set")
print(set1)
set1.clear()
print("\nSet after using clear() function")
print(set1)

Initial set
{1, 2, 3, 4, 5, 6}

Set after using clear() function
set()

In [ ]:
people = {"Jay", "Idrish", "Archil"}
vampires = {"Karan", "Arjun"}
dracula = {"Deepanshu", "Raju"}
population = people.union(vampires)
print("Union using union() function")
print(population)
population = people|dracula
print("\nUnion using '|' operator")
print(population)

Union using union() function
{'Idrish', 'Archil', 'Jay', 'Arjun', 'Karan'}

Union using '|' operator
{'Deepanshu', 'Idrish', 'Raju', 'Archil', 'Jay'}

In [37]:
set1 = set()
for i in range(5):
set1.add(i)
set2 = {3, 4, 5, 6, 7, 8}
# Intersection using intersection() function
set3 = set1.intersection(set2)
print("Intersection using intersection() function")
print(set3)
# Intersection using "&" operator
set3 = set1 & set2
print("\nIntersection using '&' operator")
print(set3)

IndentationError: ignored

In [ ]:
set1 = set()
for i in range(5):
set1.add(i)
set2 = {3, 4, 5, 6, 7, 8}
set3 = set1.difference(set2)
print(" Difference of two sets using difference() function")
print(set3)
set3 = set1 - set2
print("\nDifference of two sets using '-' operator")
print(set3)

IndentationError: ignored

In [ ]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
SubsetRes = DaysA <= DaysB
SupersetRes = DaysB >= DaysA
print(SubsetRes)
print(SupersetRes)

True
True

In [ ]:
import time; 
ticks = time.time()
print("Number of ticks since 12:00am, January 1, 1970:", ticks)
localtime = time.localtime(time.time())
print("Local current time :", localtime)

Number of ticks since 12:00am, January 1, 1970: 1632964221.1474385
Local current time : time.struct_time(tm_year=2021, tm_mon=9, tm_mday=30, tm_hour=1, tm_min=10, tm_sec=21, tm_wday=3, tm_yday=273, tm_isdst=0)

In [ ]:
import time;
localtime = time.asctime( time.localtime(time.time()) )
print("Local current time :", localtime)

Local current time : Thu Sep 30 01:10:34 2021

In [ ]:
import calendar
cal = calendar.month(2008, 1)
print("Here is the calendar:")
print(cal)

Here is the calendar:
    January 2008
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31