<a href="https://colab.research.google.com/github/ThanhTung53/Tuhu/blob/main/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1.Print First 10 natural numbers using while loop
i = 0
while i <=10:
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
#2.Print the pattern
rows = 5
for i in range(0, rows + 1):
    for j in range(rows - i, 0, -1):
        print(j, end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
#3.Calculate the sum of all numbers from 1 to a given number
n = int(input("Number: "))
sum = 0
for num in range(1, n + 1, 1):
    sum = sum + num
print("Sum: ", sum)

Number: 3
Sum:  6

In [13]:
#4.Write a program to print multiplication table of a given number with natural numbers from 1 to 10.
a = int(input("Enter the number: "))
for i in range(1, 11):
   print(a, 'x', i, '=', a*i)

Enter the number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
#5.Display numbers from a list using loop
a = [1, 2, 3, 4, 5]
for x in range(len(a)):
    print(a[x])

1
2
3
4
5

In [15]:
#6.Count the total number of digits in a number
num = int(input("Enter the number: "))
count = 0
while num != 0:
    num = num // 10
    count = count + 1
print("Total digits are:", count)

Enter the number: 123456
Total digits are: 6

In [ ]:
#7.Print list in reverse order using a loop
a = [1, 2, 3, 4, 5, 6]
b = reversed(a)
for x in b:
    print(x)

6
5
4
3
2
1

In [ ]:
#8.Display numbers from -10 to -1 using for loop
for x in range(-10,0,1):
  print(x)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [ ]:
#9.Use else block to display a message “Done” after successful execution of for loop
for i in range(5):
    print(i)
else:
    print("Done!")

0
1
2
3
4
Done!

In [ ]:
#10.Write a program to display all prime numbers within a range
start = 25
end = 50
print("Prime numbers between", start, "and", end, "are:")
for num in range(start, end + 1):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

Prime numbers between 25 and 50 are:
29
31
37
41
43
47

In [ ]:
#11.Display Fibonacci series up to 10 terms
n = int(input("Enter number: "))
a = 0
b = 1
sum = 0
count = 1
print("Term: ", end = " ")
while count <= n:
  print(sum, end = " ")
  count += 1
  a = b
  b = sum
  sum = a + b

Enter number: 10
Term:  0 1 1 2 3 5 8 13 21 34

In [12]:
#12.Find the factorial of a given number
num = int(input("Enter the number: "))
factorial = 1
if num < 0:
    print("not exist")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1, num + 1):
        factorial = factorial * i
    print("The factorial of", num, "is", factorial)

Enter the number: 3
The factorial of 3 is 6

In [9]:
#13.Reverse a given integer number
num = 12345
reverse = 0
print("Number ", num)
while num > 0:
    reminder = num % 10
    reverse = (reverse * 10) + reminder
    num = num // 10
print("Revere Number ", reverse)

Number  12345
Revere Number  54321

In [7]:
#14.Use a loop to display elements from a given list present at odd index positions
a = [1,2,3,4,5,6,7,8,9,10]
for i in a[::2]:
    print(i, end=" ")

1 3 5 7 9

In [3]:
#15.Calculate the cube of all numbers from 1 to a given number
a = int(input("Enter the number: "))
for i in range(1, a + 1):
    print("The cube:", (i * i * i))

Enter the number: 6
The cube: 1
The cube: 8
The cube: 27
The cube: 64
The cube: 125
The cube: 216