<a href="https://colab.research.google.com/github/ThanhTung53/Tuhu/blob/main/V%C3%B2ng_l%E1%BA%B7p.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 1: Print First 10 natural numbers using while loop

In [ ]:
a = 0
while a <= 10:
  print(a)
  a = a + 1

0
1
2
3
4
5
6
7
8
9
10

Exercise 2: Print the following pattern

5 4 3 2 1

4 3 2 1

3 2 1

2 1

1

In [ ]:
pattern = 5
for x in range(0, pattern + 1):
  for y in range(pattern - x, 0, -1):
      print(y, end = " ")
  print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

Exercise 3: Calculate the sum of all numbers from 1 to a given number

In [ ]:
a = int(input("Input a number: "))
sum = 0
for b in range(1, a + 1, 1):
    sum = sum + b
print("Sum: ", sum)

Input a number: 10
Sum:  55

Exercise 4: Write a program to print multiplication table of a given number with natural numbers
from 1 to 10.

In [1]:
x = int(input("Enter the number: "))
for y in range(1, 11):
   print(x, 'x', y, '=', x*y)

Enter the number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Exercise 5: Display numbers from a list using loop

In [2]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
for x in range(len(a)):
    print(a[x])

1
2
3
4
5
6
7
8
9

Exercise 6: Count the total number of digits in a number

In [4]:
a = int(input("Enter the number: "))
b = 0
while a != 0:
    a = a // 10
    b = b + 1
print("The total number of digits: ", b)

Enter the number: 12345678
The total number of digits:  8

Exercise 7: Print list in reverse order using a loop

In [5]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
b = reversed(a)
for x in b:
    print(x)

9
8
7
6
5
4
3
2
1

Exercise 8: Display numbers from -10 to -1 using for loop

In [6]:
for x in range(-10,0,1):
  print(x)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

Exercise 9: Use else block to display a message “Done” after successful execution of for loop

In [7]:
for i in range(8):
    print(i)
else:
    print("Done!")

0
1
2
3
4
5
6
7
Done!

Exercise 10: Write a program to display all prime numbers within a range

In [8]:
start = 25
end = 50
print("Prime numbers between", start, "and", end, "are:")
for num in range(start, end + 1):
    if (num > 1):
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

Prime numbers between 25 and 50 are:
29
31
37
41
43
47

Exercise 11: Display Fibonacci series up to 10 terms

In [9]:
n = int(input("Enter number: "))
a = 0
b = 1
sum = 0
count = 1
print("Term: ", end = " ")
while count <= n:
  print(sum, end = " ")
  count += 1
  a = b
  b = sum
  sum = a + b

Enter number: 10
Term:  0 1 1 2 3 5 8 13 21 34

Exercise 12: Find the factorial of a given number

In [ ]:
num = int(input("Enter the number: "))
factorial = 1

if (num < 0):
    print("not exist")
elif (num == 0):
    print("The factorial of 0 is 1")
else:
    for i in range(1, num + 1):
        factorial = factorial * i
    print("The factorial of", num, "is", factorial)

Exercise 13: Reverse a given integer number

In [10]:
num = 123456789
reverse = 0
print("Number ", num)
while num > 0:
    reminder = num % 10
    reverse = (reverse * 10) + reminder
    num = num // 10
print("Revere Number ", reverse)

Number  123456789
Revere Number  987654321

Exercise 14: Use a loop to display elements from a given list present at odd index positions

In [12]:
a = [1,2,3,4,5,6,7,8,9]
for i in a[::2]:
    print(i, end=" ")

1 3 5 7 9

Exercise 15: Calculate the cube of all numbers from 1 to a given number

In [35]:
x = int(input("Enter the number: "))
for y in range(1, x + 1):
  print("The cube:", (y*y*y))

Enter the number: 6
The cube: 1
The cube: 8
The cube: 27
The cube: 64
The cube: 125
The cube: 216